<%- include('header') -%>

<div class="jumbotron">
  <img class="logo" style="padding: 0% 4%" width="20%" src="../images/demo_imgs/slack_logo.png"><img style="padding: 0% 2%" width="10%" src="../images/demo_imgs/plus.png"><img class="logo" style="padding: 0% 4%" width="20%" src="../images/demo_imgs/netsuite_logo.png"><br>
  <img class="logo" width="50%" src="../images/demo_imgs/slack_support_icon.png">
  <h1 style="font-size:50px">Support Cases In Slack!</h1>
  <p class="lead">Interact with NetSuite support cases from within Slack. Manage communication with your team and your cases in one place! Click the button below to install or search for 'NS Support Bot for Slack' in the bundle search in NetSuite.</p>
  <p><a class="btn btn-lg btn-success" style="padding: 14px 36px" href="https://system.netsuite.com/app/bundler/bundledetails.nl?sourcecompanyid=662377&domain=PRODUCTION&config=F&id=165111" role="button">Install</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-12">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" style="margin-bottom: 20px" src="https://www.youtube.com/embed/Cm2uUi5oEqg"></iframe>
    </div>
    <div class="divider"></div>
    <h4>New Cases and Case Replies In Slack</h4>
    <p>New cases get automatically posted in Slack to the channel of your choice. Case replies get sent directly to the user assigned to them in Slack. No need to worry about filling your email inbox with case emails.</p>
    <a href="../images/demo_imgs/new_case.jpg" data-lightbox="new_case" data-title="New Case Posting">
      <img id="newcase" src="../images/demo_imgs/new_case.jpg" width="100%">
    </a>
    <div class="divider"></div>
    <h3><i>No additional NetSuite licensing is required to run Support Bot. Only one license is required to connect Support Bot to your NetSuite account and have your whole Slack team interacting with NetSuite!</i></h3>
    <div class="divider"></div>
    <div class="clearfix feature">
      <img class="pull-left gap-right img-rounded" src="../images/demo_imgs/send_messages.jpg" width="70%">
      <span class="vcenter">
        <p>Send replies to cases straight from Slack. Simply specify the case number and the message you wish to send. You will see a preview of your message before it gets sent so there's always time to make any last minute adjustments.</p>
      </span>
    </div>
    <div class="divider"></div>
    <div class="clearfix feature">
      <img class="pull-right gap-left img-rounded" src="../images/demo_imgs/grab_cases.jpg" width="70%">
      <span class="vcenter">
        <p>With Support Bot you can assign multiple cases to yourself or any other support rep in NetSuite by simply typing the <i>grab</i> or <i>assign</i> keywords followed by the cases and who you wish to assign them to.</p>
      </span>
    </div>
    <div class="divider"></div>
    <div class="clearfix feature">
      <img class="pull-left gap-right img-rounded" src="../images/demo_imgs/open_cases.jpg" width="70%">
      <span class="vcenter">
        <p>See case load at a glance. Support Bot allows you to see a list of all open cases in your NetSuite account as well as all the open cases that you are assigned to. Need more info? Just click the case link and NetSuite will open to that case in your browser.</p>
      </span>
    </div>
    <div class="divider"></div>
    <h4>Complete List of Features</h4>
    <ul class="features">
      <li>New Cases post to designated support channel</li>
      <li>Case Replies are sent to assigned support rep</li>
      <li>See all open cases</li>
      <li>See all cases assigned to yourself</li>
      <li>See all unassigned case</li>
      <li>Assign a case to yourself or others</li>
      <li>Receive notifications when you are assigned to a Case in Slack</li>
      <li>See the last message for a cases</li>
      <li>See all messages for a case</li>
      <li>See all attachments for a case</li>
      <li>Escalate a case to an employee by name</li>
      <li>Increase/decrease priority of a case</li>
      <li>Reply to a case</li>
      <li>Close a case</li>
      <li>No additional license to NetSuite required</li>
    </ul>

  </div>

</div>

<%- include('footer') -%>